* {
  margin: 0;
  padding: 0;
}

/*------Header section------*/

header {
  width: 100%;
  height: 22vh;
  position: sticky;
  margin-bottom: 0px;
  background-color: #22577e;
}

.site-name {
  position: relative;
  margin-right: 20px;
  float: right;
  margin-top: 15px;
  border-radius: 3px;
}

.search {
  position: relative;
  float: right;
  display: inline-block;
  margin-top: 15px;
}
.input {
  display: inline-block;
  width: 45vw;
  height: 40px;
  padding-right: 7px;
  border: 3px solid white;
  border-radius: 3px;
  z-index: 0;
  text-align: left;
  letter-spacing: 1px;
  text-indent: 6px;
}
.explore {
  position: relative;
  right: 50px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  background-color: black;
}
.explore:hover {
  background-color: #14c38e;
  color: black;
  border: 3px solid #14c38e;
  border-radius: 3px;
}

.logo {
  position: absolute;
  width: 120px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 3px;
}

.header-list {
  position: relative;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border: 3px solid;
  border-color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: black;
}
.header-list:hover {
  color: black;
  background-color: #14c38e;
  border: 3px solid #14c38e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/*---------main picture------*/

.main-pic {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0px auto 20px auto;
}

/*---------H1 headings----------*/

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 20px auto;
  position: relative;
  font-weight: bold;
}

/*---------pic containers------*/

.con-1 {
  display: flex;
  width: 95vw;
  margin: 20px  auto 0px auto;

  position: relative;
  background-color: #f4f9f9;
  box-shadow: black;
}


.con3pics {
  display: flex;
  justify-content: center;
  margin: 20px auto;

  position: relative;
  z-index: 0;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h1-text {
  letter-spacing: 8px;
  
  position: absolute;
  justify-content: center;
  color: white;
  text-shadow: black;
  font-family: "Alfa Slab One", cursive; 
  
}



.more {
  text-align: center;
  margin: 20px auto;
  display: block;
  width: 36vw;
  background-color: #22577e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

hr {
  width: 90vw;
  height: 3px;
  margin: auto;
  background-color: darkgray;
}

.con-2{ display: flex;
         width: 95vw;
         position: relative;
         margin: 20px  auto 0px auto;


}
.con8pics{ margin-right: auto; 
           margin-left: auto;
          border: 3px solid white;
          border-radius: 8px;
           position: relative;


}